// File for zeroing style 
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&family=Montserrat:ital,wght@0,100;1,400&display=swap');

body {
  font-family: Lato;
}

.about {
  &__body {
    max-width: 823px;
    margin: 0 auto;
  }

  &__header {
    margin: 0 0 65px 0;
  }

  &__title {
    margin: 0px 0px 37px 0;
  }

  &__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #868585;
    text-align: center;
    margin: 0px auto;
  }

  &__row {
    display: flex;
    font-size: 0;
    margin: 0 -15px;
  }

  &__colum {
    padding: 0 15px;
    flex: 0 0 33.333%;
  }
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;

  &:after {
    position: absolute;
    content: '';
    width: 83px;
    bottom: 0;
    height: 1px;
    background-color: black;
    margin: 0 0 0 -115px;
  }
}

.item-about {
  &__icon {
    margin: 0px auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin: 40px 0 35px 0;
  }

  &__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #868585;
    text-align: center;
  }
}